$palette-white:#ffffff;
$palette-F7F7F9:#F7F7F9;
$palette-red-base: #DE0010;
$palette-gray:#666666;
$palette-gray-light:#999999;
$border-color-DDDDDD:#DDDDDD;
$border-color-EEEEEE:#EEEEEE; 
$border-color-E5E5E5:#E5E5E5;
$border-color-E6E6E6:#E6E6E6;
$box-shadow:0 0 10px 1px rgba($color: #797878, $alpha: .2);

