.banner-box  .swiper-slide .module-wrap{
    display: flex;
    flex-direction: column;
}
.banner-box  .swiper-slide .text-box,
.banner-box  .swiper-slide .text2{
    display: flex;
    align-items: center;
}
.banner-box{
    height: 520px;
    display: flex;
}
.banner-box .swiper-container{
   width: 100%;
   height: 100%;
}
.banner-box  .swiper-slide{
    background-position: center top;
    background-size: cover;
}
.banner-box  .swiper-slide .module-wrap{
    height: 100%;
    padding-top: 187px;
}
.banner-box  .swiper-slide .text-box{
    display: flex;
    align-items: center;
}
.banner-box  .swiper-slide .text-box .label{
    font-size: 14px;
    color: #343AC9;
    width: 71px;
    height: 21px;
    line-height: 21px;
    border-radius: 20px;
    background-color: #0AE483;
    margin-right: 9px;
    text-align: center;
}
.banner-box  .swiper-slide .text-box  .text{
    font-size: 16px;
    color: #ffffff;
}
.banner-box  .swiper-slide .text2{
    font-size: 44px;
    color: #ffffff;
    padding: 15px 0 18px;
}
.banner-box  .swiper-slide .text2 .text-color{
    color: #09E583;
}
.banner-box  .swiper-slide .text2 .num{
    font-size: 54px;
}
.banner-box  .swiper-slide .text2 .add-icon{
    margin-top:10px;
}
.banner-box  .swiper-slide .text3{
    font-size: 17px;
    color: #ffffff;
}
.banner-box  .swiper-slide button{
    width: 224px;
    height: 50px;
    background-color: #01CE73;
    font-size: 18px;
    color: #ffffff;
    margin-top: 38px;
}
.banner-box .swiper-pagination-bullet{
    width: 50px;
    height: 4px;
    border-radius: 0;
    background: #ffffff;
    opacity: 1;
}
.banner-box .swiper-pagination-bullet-active{
    background: #3664FF;
}
.banner-box .swiper-pagination{
    bottom: 38px;
}

.box .module-wrap>.title-box{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box .module-wrap>.title-box>.title{
    font-size: 44px;
    font-weight: bold;
    color: #000000;
    padding: 95px 0 24px;
}
.box .module-wrap>.title-box>.subtitle{
    font-size: 16px;
    color: #999999;
}
.box1{
    height: 726px;
    background-color: #ffffff;
}
.box1 .module-wrap>.title-box>.title{
    padding-bottom: 15px;
}
.box1-content{
    display: flex;
    justify-content: center;
    position: relative;
    height: 550px;
}
.box1-content img{
    width: 550px;
    height: 550px;
}
.box1-content .text-l{
    right: 800px;
    animation: box1TextRight 0.6s 1;
    -webkit-animation:box1TextRight 0.6s 1;
    -moz-animation: box1TextRight 0.6s 1;
}
.box1-content .text-r{
    left: 800px;
    animation: box1TextLeft 0.6s 1;
    -webkit-animation: box1TextLeft 0.6s 1;
    -moz-animation: box1TextLeft 0.6s 1;
}
.box1-content .text{
    position: absolute;
    font-size: 16px;
    color: #333333;
}
.box1-content .text1,.box1-content .text6{
    top: 122px;
}
.box1-content .text2{
    top: 182px;
}
.box1-content .text3{
    top: 243px;
}
.box1-content .text4{
    top: 302px;
}
.box1-content .text5{
    top: 361px;
}
.box1-content .text7{
    top: 183px;
}
.box1-content .text8{
    top: 241px;
}
.box1-content .text9{
    top: 333px;
}
.box1-content .text8,.box1-content .text9{
    line-height: 27px;
}
.box1-content .text2,.box1-content .text4,.box1-content .text7{
    opacity: 0;
    animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
    -moz-animation-delay: 0.2s;
}
.box1-content .text1,.box1-content .text5,.box1-content .text6,.box1-content .text9{
    opacity: 0;
    animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -moz-animation-delay: 0.4s;
}
.box2{
    height: 686px;
    background-color: #F5F6FB;
}
.box2-content{
    display: flex;
    justify-content: space-between;
    width: 1022px;
    margin: 70px auto 0;
}
.box2-content .item{
    width: 500px;
    height: 320px;
    background-image: url("../images/marketing/box2_bg.png");
    background-size: 100% 100%;
    box-shadow: 0 0 10px 2px #E3E6F2;
    display: flex;
    flex-direction: column;
    padding: 45px 88px 40px;
}
.box2-content .item .title-box{
    position: relative;
    padding-bottom: 15px;
}
.box2-content .item .title-box .title{
    font-size: 24px;
    color: #333333;
}
.box2-content .item .title-box .title span{
    color: #3664FF;
}
.box2-content .item .title-box img{
    position: absolute;
    top: -8px;
    left: -37px;
}
.box2-content .item .text-box{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #666666;
    margin-top: 33px;
}
.box2-content .item .text-box img{
    margin-right: 12px;
}
.box3{
    display: flex;
    position: relative;
}
.box3 .swiper-container{
    width: 100%;
    height: 710px;
}
.box3 .swiper-slide{
    background-size: cover;
    background-position: center top;
}
.box3 .box3-c1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.box3 .box3-c1 .module-wrap>.title-box .title{
    color: #ffffff;
}
.box3 .box3-c1 .module-wrap>.title-box .subtitle{
    color: rgba(255, 255, 255, .5);
}
.box3 .box3-swiper-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: calc(50% - 600px);
    bottom:112px ;
    width: 182px;
    height: 273px;
    z-index: 2;
}
.box3 .box3-swiper-nav .nav{
    display: flex;
    align-items: center;
    width: 182px;
    height: 53px;
    border-radius: 30px;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    padding: 0 14px 0 18px;
    cursor: pointer;
}
.box3 .box3-swiper-nav .nav .text{
    margin: 0 10px;
}
.box3 .box3-swiper-nav .nav img{
    margin-top: 2px;
    display: none;
}
.box3 .box3-swiper-nav .nav-cur{
    background-color: #01CE73;
}
.box3 .box3-swiper-nav .nav-cur img{
    display: block;
}
.box4{
    height: 640px;
    background-color: #F5F6FB;
}
.box4 .module-wrap,.box5 .module-wrap{
    position: relative;
    height: 100%;
}
.box4 img{
    position: absolute;
    left: -53px;
    bottom: 0;
}
.box4 .text-box,.box5 .text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top:204px;
    height: 280px;
}
.box4 .text-box .title,.box5 .text-box .title{
    font-size: 44px;
    color: #000000;
    line-height: 65px;
}
.box4 .text-box .text,.box5 .text-box .text{
    font-size: 16px;
    color: #333333;
}
.box4 .text-box button,.box5 .text-box button{
    width: 142px;
    height: 50px;
    color: #ffffff;
    font-size: 18px;
    background-color: #3664FF;
}
.box5{
    height: 678px;
    background-color: #FFFFFF;
}
.box5 img{
    position: absolute;
    right:22px;
    bottom: 0;
}
.box5 .text-box{
    left: 42px;
    top:200px;
    height: 300px;
}
.box5 .text-box .title span{
    color: #3664FF;
}
.box5 .text-box .text{
    line-height: 28px;
}
.box6{
    height: 584px;
    background-color: #F5F6FB;
}
.box6-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 216px;
    margin-top: 70px;
}
.box6-content .item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 188px;
    height: 100px;
    background-color: #ffffff;
}
.box6-content .item img{
    margin-right: 17px;
}
.box7{
    height: 460px;
    background-color: #ffffff;
}
.box7-content{
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}
.box7-content .item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box7-content .item  .text1{
    display: flex;
    align-items: flex-end;
}
.box7-content .item .num{
    font-size: 48px;
    color: #3664FF;
}
.box7-content .item .add{
    font-size: 24px;
    color: #3664FF;
    margin-bottom: 4px;
}
.box7-content .item  .unit{
    font-size: 18px;
    color: #000000;
    margin-bottom: 6px;
}
.box7-content .item  .text2{
    font-size: 18px;
    color: #666666;
    margin-top: 5px;
}
.float-box  .module-wrap>.title-box .title{
    font-size: 30px;
    color: #FFFFFF;
    padding: 41px 0 8px;
    font-weight: normal;
    justify-content: center;
}
.float-box  .module-wrap>.title-box  .subtitle{
    font-size: 16px;
    color: rgba(255, 255, 255, .6);
}

@keyframes box1TextRight{
    from {
        right: 750px;
        opacity: 0;
    }
    to {
        right: 800px;
        opacity: 1;
    }
}
@-webkit-keyframes box1TextRight{
    from {
        right: 750px;
        opacity: 0;
    }
    to {
        right: 800px;
        opacity: 1;
    }
}
@-moz-keyframes box1TextRight{
    from {
        right: 750px;
        opacity: 0;
    }
    to {
        right: 800px;
        opacity: 1;
    }
}
@keyframes box1TextLeft{
    from {
        left: 750px;
        opacity: 0;
    }
    to {
        left: 800px;
        opacity: 1;
    }
}
@-webkit-keyframes box1TextLeft{
    from {
        left: 750px;
        opacity: 0;
    }
    to {
        left: 800px;
        opacity: 1;
    }
}
@-moz-keyframes box1TextLeft{
    from {
        left: 750px;
        opacity: 0;
    }
    to {
        left: 800px;
        opacity: 1;
    }
}