.content-wrap .main-title-box {
  text-align: center;
}

.content-wrap .main-title-box .title {
  display: block;
  font-size: 32px;
  color: #555555;
  font-weight: bold;
  margin-bottom: 16px;
}

.content-wrap .main-title-box .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  color: #999999;
}

.content-wrap .main-title-box .text-box a {
  font-size: 16px;
  color: #999999;
}

.content-wrap .banner-box {
  height: 956px;
  background-image: url("../images/index-city/banner.png");
  background-position: center top;
  background-size: cover;
}

.content-wrap .banner-box .global-content {
  position: relative;
  overflow: hidden;
}

.content-wrap .banner-box .global-content .index-top-entry {
  text-align: center;
  color: #333;
  font-size: 74px;
  margin: 95px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-wrap .banner-box .global-content .index-top-entry a {
  color: #666666;
  padding-right: 20px;
}

.content-wrap .banner-box .global-content .index-top-entry img {
  position: relative;
  top: 8px;
}

.content-wrap .banner-box .global-content .index-top-p1 {
  color: #999;
  font-size: 16px;
  text-align: center;
}

.content-wrap .banner-box .global-content .index-top-p1 span:nth-child(2) {
  color: #de0010;
  padding: 0 5px;
}

.content-wrap .banner-box .global-content .top-main {
  width: 1060px;
  margin: 90px auto 0;
  height: 525px;
  background: rgba(255, 255, 255, 0.77);
  border-radius: 10px;
  padding: 45px 80px 45px 88px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content-wrap .banner-box .global-content .top-main .index-top-select {
  color: #fff;
}

.content-wrap .banner-box .global-content .top-main .index-top-select .index-se-le {
  float: left;
  width: 100%;
  margin-bottom: 35px;
}

.content-wrap .banner-box .global-content .top-main .index-top-select .index-se-le .index-se-span {
  font-size: 20px;
  margin-right: 70px;
  line-height: 32px;
  color: #333;
}

.content-wrap .banner-box .global-content .top-main .index-top-select .index-se-le .index-city-sele {
  margin-right: 30px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  color: #666;
}

.content-wrap .banner-box .global-content .top-main .index-top-select .index-se-le .index-city-sele .city-sele-result {
  width: 228px;
  height: 32px;
  line-height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-wrap .banner-box .global-content .top-main .index-top-select .index-se-le .index-city-sele .city-sele-option {
  position: absolute;
  left: 0;
  top: 31px !important;
  background: #fcfcfc;
  width: 100%;
  height: 260px;
  line-height: 40px;
  border: 1px solid #bebebe !important;
  border-top: 0;
  padding: 10px 0 10px 32px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  overflow: auto;
  display: none;
  border-radius: 0 0 5px 5px !important;
}

.content-wrap .banner-box .global-content .top-main .index-top-select .index-se-le .index-city-sele .city-sele-option::-webkit-scrollbar {
  display: none;
}

.content-wrap .banner-box .global-content .top-main .index-top-select .index-se-le .index-city-sele .city-sele-option p:hover {
  color: #de0010;
}

.content-wrap .banner-box .global-content .top-main .index-top-select .index-se-le .select-btn {
  color: #fff;
  background: #de0010;
  width: 174px;
  height: 32px;
  border-radius: 5px;
  text-align: center;
  line-height: 32px;
  display: inline-block;
}

.content-wrap .banner-box .global-content .top-main .index-top-select .index-se-le input {
  border: 1px solid #fff;
  width: 200px;
  height: 32px;
  line-height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 20px;
  margin-right: 30px;
  background: transparent;
  font-size: 14px;
  color: #fff;
}

.content-wrap .banner-box .global-content .top-main .index-top-select .index-se-le input::-webkit-input-placeholder {
  line-height: 32px;
  color: #fff;
  font-size: 14px;
}

.content-wrap .banner-box .global-content .top-main .index-top-select .index-se-le input:-ms-input-placeholder {
  line-height: 32px;
  color: #fff;
  font-size: 14px;
}

.content-wrap .banner-box .global-content .top-main .index-top-select .index-se-le input::-ms-input-placeholder {
  line-height: 32px;
  color: #fff;
  font-size: 14px;
}

.content-wrap .banner-box .global-content .top-main .index-top-select .index-se-le input::placeholder {
  line-height: 32px;
  color: #fff;
  font-size: 14px;
}

.content-wrap .banner-box .global-content .top-main .index-top-tab span {
  display: inline-block;
  width: 27px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size: 20px;
  color: #666;
  cursor: pointer;
  margin: 0 2px;
}

.content-wrap .banner-box .global-content .top-main .index-top-tab span.active {
  border-radius: 4px;
  background: #de0010;
  color: #fff;
}

.content-wrap .banner-box .global-content .top-main .index-top-tab .city-hot {
  margin-left: 0;
  margin-right: 83px;
  padding: 0;
  width: auto;
  height: auto;
  font-size: 20px;
  color: #333;
  height: 30px;
  display: inline-block;
  cursor: pointer;
}

.content-wrap .banner-box .global-content .top-main .index-top-tab .city-hot.active {
  position: relative;
}

.content-wrap .banner-box .global-content .top-main .index-top-tab .city-hot.active::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #de0010;
  position: absolute;
  bottom: -14px;
  left: 0;
}

.content-wrap .banner-box .global-content .top-main .index-top-cont .index-cont {
  padding-left: 5px;
  overflow: hidden;
  font-size: 18px;
  margin-top: 25px;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  height: 328px;
  overflow: auto;
}

.content-wrap .banner-box .global-content .top-main .index-top-cont .index-cont::-webkit-scrollbar {
  width: 6px;
  background: #ededed;
  border-radius: 3px;
}

.content-wrap .banner-box .global-content .top-main .index-top-cont .index-cont::-webkit-scrollbar-thumb {
  width: 6px;
  height: 100px;
  background: #de0010;
  border-radius: 3px;
}

.content-wrap .banner-box .global-content .top-main .index-top-cont .index-cont section {
  display: block;
  width: 100%;
  line-height: 45px;
  overflow: hidden;
}

.content-wrap .banner-box .global-content .top-main .index-top-cont .index-cont section span {
  float: left;
  padding: 0 10px;
}

.content-wrap .banner-box .global-content .top-main .index-top-cont .index-cont section span:first-child {
  color: #999;
  padding-right: 45px;
  text-align: center;
  width: 30px;
}

.content-wrap .banner-box .global-content .top-main .index-top-cont .index-cont section .wrap-a {
  float: left;
  overflow: hidden;
  max-width: 84%;
}

.content-wrap .banner-box .global-content .top-main .index-top-cont .index-cont section .wrap-a a {
  width: 118px !important;
  white-space: nowrap;
  color: #666;
  width: 120px;
  text-align: left;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}

.content-wrap .banner-box .global-content .top-main .index-top-cont .index-cont section .wrap-a a:hover {
  color: #de0010;
}

.content-wrap .banner-box .global-content .top-main .index-top-cont .index-cont section.active span {
  color: #de0010;
}

.content-wrap .banner-box .global-content .top-main .index-top-cont .index-cont .index-cont-le {
  float: left;
  width: 55%;
  overflow: hidden;
}

.content-wrap .banner-box .global-content .top-main .index-top-cont .index-cont .index-cont-ri {
  float: left;
  width: 40%;
  overflow: hidden;
}

.content-wrap .banner-box .global-content .top-main .index-top-cont .city-list {
  display: none;
}

.content-wrap .renovation-flow-wrap {
  background-color: #F7F7F9;
}

.content-wrap .renovation-flow-wrap .global-content {
  padding: 90px 0 100px;
}

.content-wrap .renovation-flow-wrap .global-content .renovation-flow-main {
  margin-top: 64px;
}

.content-wrap .new-decoration-render .global-content {
  padding: 90px 0 80px;
}

.content-wrap .new-decoration-render .global-content .main-title-box .text-box span {
  margin: 0 4px;
}

.content-wrap .new-decoration-render .global-content .main-title-box .text-box a:hover {
  color: #D93A3A;
}

.content-wrap .new-decoration-render .global-content .list-box {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.content-wrap .new-decoration-render .global-content .list-box .item {
  width: 384px;
  height: 285px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin: 0 23px 24px 0;
}

.content-wrap .new-decoration-render .global-content .list-box .item:hover .pic {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content-wrap .new-decoration-render .global-content .list-box .item:hover .text {
  background: #cc4141;
}

.content-wrap .new-decoration-render .global-content .list-box .item:nth-of-type(3n) {
  margin-right: 0;
}

.content-wrap .new-decoration-render .global-content .list-box .item .pic {
  width: 384px;
  height: 285px;
}

.content-wrap .new-decoration-render .global-content .list-box .item .text {
  width: 140px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #626262;
  opacity: 0.79;
}

.content-wrap .new-decoration-render .global-content .list-box .last-text:hover .pic {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content-wrap .new-decoration-render .global-content .list-box .last-text:hover .text {
  background: rgba(169, 169, 169, 0.79);
}

.content-wrap .new-decoration-render .global-content .list-box .last-text .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(169, 169, 169, 0.79);
  opacity: 1;
}

.content-wrap .new-decoration-render .global-content .list-box .last-text .text span {
  display: inline-block;
  color: #fff;
  font-size: 28px;
  padding-right: 24px;
  position: relative;
}

.content-wrap .new-decoration-render .global-content .list-box .last-text .text span::after {
  content: '';
  width: 12px;
  height: 23px;
  background-image: url("../images/icon1/ico_next2.png");
  background-size: 100% 100%;
  position: absolute;
  top: calc(50% - 10.5px);
  right: 0;
}

.content-wrap .company-sort-wrap {
  background-color: #F7F7F9;
}

.content-wrap .company-sort-wrap .global-content {
  padding: 90px 0 80px;
}

.content-wrap .company-sort-wrap .global-content .tab-box {
  margin: 85px 0 58px 0;
}

.content-wrap .company-sort-wrap .global-content .tab-box .tab {
  cursor: pointer;
  padding: 0 30px;
  height: 36px;
  line-height: 33px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  color: #666;
  font-size: 16px;
  background: #fff;
  margin: 0 5.5px;
}

.content-wrap .company-sort-wrap .global-content .tab-box .tab:hover {
  background: #de0010;
  border: 1px solid #de0010;
  color: #fff;
}

.content-wrap .company-sort-wrap .global-content .tab-box .active {
  background: #de0010;
  border: 1px solid #de0010;
  color: #fff;
}

.content-wrap .company-sort-wrap .global-content .list-box {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.content-wrap .company-sort-wrap .global-content .list-box .item {
  width: 385px;
  height: 160px;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 10px 2px #E5E5E6;
          box-shadow: 0 3px 10px 2px #E5E5E6;
  margin: 0 22px 22px 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.content-wrap .company-sort-wrap .global-content .list-box .item:nth-of-type(3n) {
  margin-right: 0;
}

.content-wrap .company-sort-wrap .global-content .list-box .item:hover .icon-sort {
  display: none;
}

.content-wrap .company-sort-wrap .global-content .list-box .item:hover .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-wrap .company-sort-wrap .global-content .list-box .item > img {
  display: block;
}

.content-wrap .company-sort-wrap .global-content .list-box .item .pic-logo {
  width: 385px;
  height: 160px;
}

.content-wrap .company-sort-wrap .global-content .list-box .item .icon-sort {
  width: 43px;
  height: 49px;
  position: absolute;
  top: 0;
  left: 0;
}

.content-wrap .company-sort-wrap .global-content .list-box .item .text-box {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 385px;
  height: 160px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  background: rgba(187, 187, 187, 0.95);
  text-align: center;
  color: #fff;
}

.content-wrap .company-sort-wrap .global-content .list-box .item .text-box .company-name {
  width: 100%;
  padding: 0 20px;
}

.content-wrap .company-sort-wrap .global-content .list-box .item .text-box .info {
  margin-top: 10px;
}

.content-wrap .company-sort-wrap .global-content .list-box .item .text-box .info > span {
  font-size: 16px;
  display: inline-block;
  margin: 0 8px;
}

.content-wrap .company-sort-wrap .global-content .list-box .item .text-box .info > span > span {
  font-size: 18px;
}

.content-wrap .company-sort-wrap .global-content .list-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-wrap .decoration-step-wrap {
  background-color: #FFFFFF;
}

.content-wrap .decoration-step-wrap .global-content {
  padding: 90px 0 100px;
}

.content-wrap .decoration-step-wrap .global-content .step-content {
  margin-top: 85px;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box {
  width: 384px;
  height: 433px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 10px 2px #EDEDED;
          box-shadow: 0 3px 10px 2px #EDEDED;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box .top-box {
  width: 384px;
  height: 175px;
  position: relative;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box .top-box .text {
  color: #fff;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  left: 50px;
  top: 75px;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box .icon-box {
  height: 258px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box .icon-box .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  border-right: 2px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  line-height: 30px;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box .icon-box .item .text {
  font-size: 14px;
  color: #333;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box .icon-box .item:hover .text {
  color: #de0010;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box1 .top-box {
  background-image: url("../images/index-city/deco_1.jpg");
  background-size: 100% 100%;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box1 .top-box .text {
  text-shadow: 4px 4px 5px #F9966D;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box1 .icon-box .item {
  width: 50%;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box1 .icon-box .item:nth-of-type(2n) {
  border-right: 0;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box1 .icon-box .item:nth-of-type(3), .content-wrap .decoration-step-wrap .global-content .step-content .box1 .icon-box .item:nth-of-type(4) {
  border-bottom: 0;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box2 .top-box {
  background-image: url("../images/index-city/deco_2.jpg");
  background-size: 100% 100%;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box2 .top-box .text {
  text-shadow: 4px 4px 5px #FDA26D;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box2 .icon-box .item {
  width: 25%;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box2 .icon-box .item:nth-of-type(4n) {
  border-right: 0;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box2 .icon-box .item:nth-of-type(5), .content-wrap .decoration-step-wrap .global-content .step-content .box2 .icon-box .item:nth-of-type(6), .content-wrap .decoration-step-wrap .global-content .step-content .box2 .icon-box .item:nth-of-type(7), .content-wrap .decoration-step-wrap .global-content .step-content .box2 .icon-box .item:nth-of-type(8) {
  border-bottom: 0;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box3 .top-box {
  background-image: url("../images/index-city/deco_3.jpg");
  background-size: 100% 100%;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box3 .top-box .text {
  text-shadow: 4px 4px 5px #ED958B;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box3 .icon-box .item {
  width: 50%;
  height: 100%;
  border-bottom: 0;
}

.content-wrap .decoration-step-wrap .global-content .step-content .box3 .icon-box .item:nth-of-type(2) {
  border-right: 0;
}

.content-wrap .decoration-attention-wrap .global-content {
  padding: 90px 0 80px;
}

.content-wrap .decoration-attention-wrap .global-content .main-title-box .text-box span {
  margin: 0 4px;
}

.content-wrap .decoration-attention-wrap .global-content .main-title-box .text-box a:hover {
  color: #D93A3A;
}

.content-wrap .decoration-attention-wrap .global-content .list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 85px;
}

.content-wrap .decoration-attention-wrap .global-content .list-box .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 385px;
  height: 408px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 10px 2px #EDEDED;
          box-shadow: 0 3px 10px 2px #EDEDED;
  margin: 0 22px 22px 0;
}

.content-wrap .decoration-attention-wrap .global-content .list-box .item:nth-of-type(3n) {
  margin-right: 0;
}

.content-wrap .decoration-attention-wrap .global-content .list-box .item .img-box {
  position: relative;
  width: 100%;
  height: 208px;
  overflow: hidden;
}

.content-wrap .decoration-attention-wrap .global-content .list-box .item .img-box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content-wrap .decoration-attention-wrap .global-content .list-box .item .img-box img {
  width: 100%;
  height: 208px;
}

.content-wrap .decoration-attention-wrap .global-content .list-box .item .img-box .text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#6b6b6b), to(transparent));
  background: linear-gradient(to top, #6b6b6b, transparent);
  color: #fff;
  font-size: 14px;
  padding: 0 30px;
}

.content-wrap .decoration-attention-wrap .global-content .list-box .item .text-box {
  width: 100%;
  height: 200px;
  padding: 10px 48px 0;
}

.content-wrap .decoration-attention-wrap .global-content .list-box .item .text-box .text {
  display: inline-block;
  width: 100%;
  height: 42px;
  line-height: 41px;
  border-bottom: 1px solid #F2F2F2;
  color: #7c7c7c;
  font-size: 14px;
}

.content-wrap .decoration-attention-wrap .global-content .list-box .item .text-box .text:last-of-type {
  border: 0;
}

.content-wrap .decoration-attention-wrap .global-content .list-box .item .text-box .text:hover {
  color: #de0010;
}

.content-wrap .decoration-rim-wrap {
  background-color: #F8F8FA;
}

.content-wrap .decoration-rim-wrap .global-content {
  padding: 90px 0 100px;
}

.content-wrap .decoration-rim-wrap .global-content .list-box {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item {
  width: 384px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 2px #F1F1F1;
          box-shadow: 0 0 10px 2px #F1F1F1;
  margin: 0 12px;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item:hover {
  width: 416px;
  margin: 0 4px;
  -webkit-box-shadow: 0 0 10px 2px #E6E6E6;
          box-shadow: 0 0 10px 2px #E6E6E6;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item:hover .img-box {
  height: 218px;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item:hover .img-box .icon-box {
  background: rgba(255, 255, 255, 0.7);
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item:hover .img-box .icon-box .text {
  color: #565656;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item:hover .text-box .more-btn {
  display: block;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item .img-box {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item .img-box .pic-bg {
  width: 100%;
  height: 100%;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item .img-box .icon-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(216, 162, 152, 0.89);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item .img-box .icon-box .text {
  color: #fff;
  font-size: 28px;
  margin-top: 15px;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item .text-box {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 42px 45px 50px;
  background: #fff;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item .text-box .text-wrap {
  width: 100%;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item .text-box .text-wrap:hover .title {
  color: #de0010;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item .text-box .text-wrap:hover .text {
  border-bottom: 1px solid #F1F1F1;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item .text-box .text-wrap .title {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #333;
  height: 40px;
  line-height: 40px;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item .text-box .text-wrap .text {
  display: none;
  width: 100%;
  height: 0;
  line-height: 28px;
  font-size: 12px;
  color: #999999;
  padding-bottom: 8px;
  margin: -4px 0 10px 0;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item .text-box .text-wrap .text-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item .text-box .more-btn {
  display: none;
  position: absolute;
  bottom: 25px;
  right: 30px;
  font-size: 16px;
  padding-right: 16px;
  color: #A3A3A3;
}

.content-wrap .decoration-rim-wrap .global-content .list-box .item .text-box .more-btn::after {
  width: 9px;
  height: 14px;
  top: calc(50% - 7px);
  background-image: url("../images/icon1/ico_next4.png");
}
/*# sourceMappingURL=index-city.css.map */